
// fonts
$sans_norm: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
$code_norm: "Bitstream Vera Sans Mono", "Menslo LG M", "Menlo", "Monaco", monospace

// colors
$black: #000
$grey1: #111
$grey2: #222
$grey3: #333
$grey4: #444
$grey5: #555
$grey6: #666
$grey7: #777
$grey8: #888
$grey9: #999
$greyA: #aaa
$greyB: #bbb
$greyC: #ccc
$greyD: #ddd
$greyE: #eee
$white: #fff

$magenta: #ff00ff
$cyan: #00ffff
$red: #b22222
$orange: #f26522
$yellow: #ffc40d
$green: #46a546
$blue: #268bd2
$indigo: #4b0082
$violet: #ee82ee


// Defaults which you can freely override
$column-width: 74
$gutter-width: 8
$columns: 12
// Set $total-width to 100% for a fluid layout
// $total-width: gridsystem-width($columns)
$total-width: 100%

// fluid sizing
$base_px: 16
$base_wv: 984
$col_width: 74px

@import general/normalize
@import general/base
@import grids
@import general/layout

