
%section.masthead
  %code +column-full(12)

%section.gallery
  %code +column(12)

%section.promo.recent
  %code +column-pull(6)

%section.promo.ancient
  %code +column-push(6)

%article.article
  %code +column(6)

%aside.aside
  %code +column-offset-left(4,2)

%footer.footer
  %nav.footer-nav
    %code +column-pull(8)
  %nav.social-nav
    %code +column-offset-left-full(3,1)
  %section.copy
    %code +column-offset-right-full(4,2)
  %section.terms
    %code +column-offset-left-full(4,2)

